.projectcontainer{
	min-height: 50vh;
}
.project{
	color: navy;
	font-size: xx-large;
	text-align: center;
	width: 100%;
}
.poster-img{
	width:600px;
	height: 300px;
	border:2px solid black;
}
.card-text{
	text-align: center;
	font-style: bold;
	font-size: 18px;
}
.flex-container {
  display: none;
}
.scroll{
  overflow: auto;
  white-space: nowrap;
}
.scroll::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width: 600px){
	.poster-img{
		width: 38vh;
		height: 30vh;
	}
	.card-text{
		font-size: 14px;
	}
}
.move{
	width: 30px;
	height: 30px;
}
