.workscontainer{
    min-height: 60vh;
    max-width: 100%;
    font-style: bold;
    overflow-x: hidden;
}
.works > center >h2{
    color:navy;
    font-style: bold;
}
.work{
    color: navy;
    font-style: bold;
    font-size: xx-large;
    text-align: center;
    width: 100%;
}
span{
    color: navy;
    font-style: bold;
    font-size: large;
}
.work{
    float: left;
    position:inherit;
}
label{
    color:navy;
    font-style: bold;
    float: left;
}
table{
    padding: 30px;
    margin-top: 50px;
    font-size: large;
    word-wrap: break-word;
 }
th {
    color: navy;
    margin: 10px;
    font-size: large;
    float: left;
}
td{   
    color: black;
    margin: 10px;
    font-size: large;
    text-align: right;
}
@media screen and (max-width: 600px){
th{
    font-size: 15px;
    width:100%;
    text-align: left;
}
table{
    padding: 100%;
    margin-top: 50px;
    font-size: large;
    word-wrap: break-word;
    text-align: right;
    float: right;
}
td {
    font-size: 15px;
    padding: 10px;
}
}