@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

.Mail{
   margin-top: 10%;
   left: 25%;
   right: 25%;
   width: 50%;
   position: relative;
   border: 2px solid black;
   border-radius: 20px;
   padding: 10px;
}
.form-control{
   min-width:50%;
   max-width:100%
}
.Mail > h3{
   text-align: center;
   color: orangered;
   font-style: bold;
}
.Mail > h3> button {
   float:right;
}
@media screen and (max-width: 600px){
   .Mail{
      margin-top: 30%;
      width: 80%;
      left: 10%;
      right: 10%;
      position: relative;
   }
}